* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(232, 235, 221);
}

.title {
  text-align: center;
  text-transform: uppercase;
  margin: 10px;
}

.form {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.form__input, .form__btn, .btn {
  border: none;
  margin: 5px;
  padding: 10px;
}

.form__btn {
  background-color: greenyellow;
}

.task {
  padding: 10px;
}

.pending {
  background-color: rgb(255, 165, 138);
}

.complete {
  background-color: rgb(193, 253, 132);
}

.btn {
  background-color: transparent;
  padding: 5px;
  cursor: pointer;
}

.task__saveEdit-btn{
  font-weight: 800;
}

.task__btn-bar {
  display: flex;
  justify-content: end;
 }

.form__input-check {
  cursor: pointer;
  align-self: center;
 }
 
