* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(232, 235, 221);
}

.taskForm {
  display: flex;
  justify-content: center;
  margin: 20px;
}

h1 {
   text-align: center;
}

input, textarea, button {
  border: none;
  margin: 5px;
  padding: 10px;
}

textarea {
  height: 100px;
}

.task {
  padding: 10px;
}

.pending {
  background-color: rgb(255, 165, 138);
}

.complete {
  background-color: rgb(193, 253, 132);
}

button {
  background-color: transparent;
  padding: 5px;
  cursor: pointer;
}

button[type='submit'] {
  background-color: greenyellow;
}

.botonera {
  display: flex;
  justify-content: end;
 }